body {
    background-image: url('hatterkep.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
  }

.keret {
    width: 80%;
    margin: 0 auto;
    ;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: red;
}

.jobbrakep {
    float: right;
    margin-left: 20px;
    margin-bottom: 30px;

}

div { height:920px;  width: 120px;
    margin:30px;  border:0px ;  padding: 30px;
    background-color:rgba(255,255,255,.7);
    text-align:justify;
}  

.forras{
    font-size: 10px;
    
}
.div_2{
    height:20px;  width: 20px;
    text-align: right;
}
